.rml-image-header {
	min-width: 100%;
	height: 186px;
	background-color: $brand-main;
	float: left;
}
.rml-social {
	margin-right: 0;
	float: right;
	width: 50px;
	height: 93px;
	a {
		height: 30px; 
		width: 100%;
		min-width: 100%;
		margin-bottom: 12px;
		background-color: rgba(255, 255, 255, 0.35);
	}
	a:first-child {
		margin-top:20px;
	}
	a:hover {
		background-color: rgba(255, 255, 255, 0.1);
		@include box-shadow(rgba(150,150,150,0.4) 0px 3px 3px);
	}
	object {
		height: 26px;

	}
	object.rml-social-facebook {
		svg#Layer_1 {
			g {
				path {
		fill: blue;
		}
		}
		}
	}
}
.rml-user-avatar {
	width: 56px;
	opacity: .8;
}
.rml-user-avatar:hover {
	@include box-shadow(rgba(150,150,150,0.4) 0px 6px 6px);
	opacity: 1;
}
.rml-menu-header {
	height: 93px;
	img {
		margin: 1em;
	}
	h1 {
		padding-top: 1rem;
		padding-bottom: 0;
		margin-bottom: 0;
	}
	p {
		padding-bottom:0.2rem;
	}
}
.rml-ratings {
	display: inline-flex;
	color: $neutral-light;
	p {
		font-size: 0.8em;
		text-align: right;
		margin-right: 2em;
	}
}
.rml-sub-nav {
	background-color: $neutral-lighter;
	height: 30px;
	vertical-align: bottom;
	float: left;
	border: 2px solid $white;
	border-top: none;
	a {

		max-height: 30px;
	}
	a:first-child {
		border-right: 2px solid $white;
	}
	a:last-child {
		border-left: 2px solid $white;
	}
	a:active, a.active {
		background-color: $white;
		border-bottom: 2px solid $neutral-light;
	}
}
.rml-sub-nav2 {
	padding-top: 30px;
	vertical-align: bottom;
	float: left;
	border-bottom: 2px solid $brand-main;
	a {
	}
	a:first-child {
		span {
			text-align: left;
			float: left;
		}
	}
	a:last-child {
		span {
			text-align: right;
			float: right;
		}		
	}
	a:active, a.active {
	}
}
.rml-day-meal {
	float: left;
	padding-top: 40px;
	h3 {
		padding-bottom: .2em;
		width: 100%;
		min-width: 100%;
		border-bottom: 2px solid $neutral-light;
	}
	h3.current {
		border-bottom: 3px solid $black;
		padding-bottom: .5em;
	}
}
.rml-meal-unit {
	width: 100%;
	border-bottom: 1px solid $neutral-light;		
}
.rml-meal-unit:hover {
	color: $brand-dark;
	background-color: $brand-light;
	cursor: pointer;
}
.rml-meal-thumb {
	background-color: $neutral-light;
	width: 36px;
	height: 36px;
}
