body {
	font-family: $brand-font;
}
h1 {
	color: $black;
	font-family: $brand-font-bold;
	font-size: 2rem;
}
h2 {
	color: $black;
	font-size: 1.2rem;
	padding-top: 0.5rem;
	padding-bottom: 1rem;
}
h3 {
	color: $neutral-light;
	font-family: $brand-font-bold;
	font-size: 1rem;
}
h3.current {
	color: $black;
}
h4 {
	color: $neutral-light;
	font-size: 0.9rem;
}
.rml-user-name {
	font-family: $brand-font;
	color: $neutral;
}
p {
	font-family: $brand-font;
	color: $neutral;
}
.rml-sub-nav-font {
	a {
		text-transform: uppercase;		
		font-family: $brand-font-bold;
		color: $neutral-light;
		font-size: 0.8em;
		line-height: 1em;
	}
	a:active, a.active {
		font-family: $brand-font-bold;
		background-color: $white;
		border-bottom: 2px solid $neutral-light;
		color: $brand-main;
	}
	a:hover {
		color: $brand-dark;
	}
}
.rml-sub-nav2-font {
	a {
		font-family: $brand-font-bold;
		color: $neutral;
		font-size: 0.8em;
		line-height: 1em;
	}
	a:active, a.active {
		font-family: $brand-font-bold;
		font-size: 1em;
		color: $black;
	}
	a:hover {
		color: $brand-dark;
	}
}
.rml-meal-unit {
	color: $neutral-light;
	font-family: $brand-font-light;
	font-size: 0.8em;
	line-height: 36px;
}
.selected {
	h4 {
		color: $black;
	}
	.rml-meal-unit {
		color: $neutral-darker;
	}
}
.rml-meal-unit.current {
	color: $black;
	font-family: $brand-font;
}
.rml-ingredients {
	label.form-check-label {
		font-family: $brand-font-light;
		text-align: left;
	}
	strong {
		color: $black;
		font-family: $brand-font-bold;
		text-align: right;
	}
}
.rml-preparation {
	li {
		color: $black;
		font-size: 0.9rem;
		font-family: $brand-font-light;
		line-height: 1.2rem;
		text-indent: 2rem;
	}
	li::before {
		content: counter();
	    color: $brand-main;
	}
}
.rml-custom-counter li::before {
  content: counter(step-counter);
  color: $brand-main;
  margin-top: 0;
  font-family: $brand-font-bold;
}
.rml-calendar-unit {
	font-size: .7rem;
	line-height: 1rem;
}