body {
	font-family: $brand-font;
}
h1 {
	color: $black;
	font-family: $brand-font-bold;
	font-size: 2rem !important;
}

h2 {
	color: $brand-main;
}

.rml-user-name {
	font-family: $brand-font;
	color: $neutral;
}
p {
	font-family: $brand-font;
	color: $neutral;
}