body {
	font-family: $brand-font;
}
h1 {
	color: $black;
	font-family: $brand-font-bold;
	font-size: 2rem !important;
}
h2 {
	color: $brand-main;
}
h3 {
	color: $neutral-light;
	font-family: $brand-font-bold;
	font-size: 1em;
}
h3.current {
	color: $black;
}
.rml-user-name {
	font-family: $brand-font;
	color: $neutral;
}
p {
	font-family: $brand-font;
	color: $neutral;
}
.rml-sub-nav-font {
	a {
		text-transform: uppercase;		
		font-family: $brand-font-bold;
		color: $neutral-light;
		font-size: 0.8em;
		line-height: 1em;
	}
	a:active, a.active {
		font-family: $brand-font-bold;
		background-color: $white;
		border-bottom: 2px solid $neutral-light;
		color: $brand-main;
	}
	a:hover {
		color: $brand-dark;
	}
}
.rml-sub-nav2-font {
	a {
		font-family: $brand-font-bold;
		color: $neutral;
		font-size: 0.8em;
		line-height: 1em;
	}
	a:active, a.active {
		font-family: $brand-font-bold;
		font-size: 1em;
		color: $black;
	}
	a:hover {
		color: $brand-dark;
	}
}
.rml-meal-unit {
	color: $neutral-light;
	font-family: $brand-font-light;
	font-size: 0.8em;
	line-height: 36px;
}
.rml-meal-unit.current {
	color: $black;
	font-family: $brand-font;
}