@font-face {
  font-family: 'europabold';
  src: url("../fonts/europabold-webfont.woff2") format("woff2"), url("./fonts/europabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'europabolditalic';
  src: url("../fonts/europabolditalic-webfont.woff2") format("woff2"), url("../fonts/europabolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'europalight';
  src: url("../fonts/europalight-webfont.woff2") format("woff2"), url("../fonts/europalight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'europalightitalic';
  src: url("../fonts/europalightitalic-webfont.woff2") format("woff2"), url("../fonts/europalightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'europaregular';
  src: url("../fonts/europaregular-webfont.woff2") format("woff2"), url("../fonts/europaregular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'europaregularitalic';
  src: url("../fonts/europaregularitalic-webfont.woff2") format("woff2"), url("../fonts/europaregularitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* line 23, ../sass/_colors.scss */
.rml-primary-text-color {
  color: #A1A3A3;
}

/* line 24, ../sass/_colors.scss */
.rml-secondary-text-color {
  color: #67686A;
}

/* line 27, ../sass/_colors.scss */
.rml-divider-color {
  color: #ECF0EF;
}

/* line 1, ../sass/_common.scss */
body {
  font-family: "europaregular", "helvetica", sans-serif, serif;
  color: #838487;
}

/* line 6, ../sass/_common.scss */
h1, h2, h3 {
  color: black;
}

/* line 10, ../sass/_common.scss */
h2 {
  color: #88B04B;
}

/* line 14, ../sass/_common.scss */
.rml-header {
  height: 76px;
  border-bottom: 4px solid black;
  min-width: 100%;
  position: fixed;
  z-index: 3;
  text-align: center;
  background-color: #ffffff;
  padding: 0.5em;
}
/* line 24, ../sass/_common.scss */
.rml-header h1 span {
  display: none;
}
/* line 28, ../sass/_common.scss */
.rml-header .logo {
  height: 56px;
}

/* line 33, ../sass/_common.scss */
main {
  margin-top: 80px;
  padding-top: 1.5em;
  padding-left: 2em;
  padding-right: 2em;
  float: left;
}
